* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  border: 12px solid #29C4D9;
}

.splash {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.splashImageContainer {
  background: url("/images/engagement.jpg");
  background-size: cover;
  background-position: center right;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.splashImage {
  display: none;
}

.splashTextContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 150, 184, .25);
  color: #fff;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, .25);
}

.maxWidth {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.splashTextContent {
  width: 600px;
  padding: 0 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 5.25rem;
  margin: 0;
  line-height: 1;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
  line-height: 1;
}

h3 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
  line-height: 1.65;
  margin: 30px 0 32px;
}

p {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 1.1rem;
  margin: 0;
  line-height: 1.45;
}

@media (max-width: 1050px) {
  .splashImageContainer {
    background-position: center;
  }

  .splashTextContent {
    width: 500px;
  }

  .h1 {
    max-width: 300px;
  }
}

@media (max-width: 850px) {
  body {
    border: none;
  }

  .splash {
    height: auto;
    display: block;
  }

  .splashImageContainer {
    background: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
  }

  .splashImage {
    display: block;
    width: calc(100% - 96px);
    height: auto;
    margin: 48px 0 0 0;
    border-radius: 4px;
    overflow: hidden;
  }

  .splashTextContainer {
    color: #29C4D9;
    text-shadow: none;
    position: relative;
    background: none;
  }

  .splashTextContent {
    width: 100%;
    max-width: 500px;
    margin: 48px auto;
  }

  h1 {
    font-size: 4rem;
    max-width: none;
  }

  h3, p {
    color: rgba(0,0,0,0.6);
  }
}

@media (max-width: 500px) {
  .splashImage {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }

  .splashTextContainer {
    margin: 0;
  }

  .splashTextContent {
    margin: 24px auto;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }
}
