// Global CSS Reset
@import 'reset';

// Global Variables & Utils
@import 'variables';
@import 'utils';

// Global Styles
@import 'layout';

// Partials
@import 'partial-nav';

body {
  color: $colorFadedInk;
  font: 400 px-to-rem(14) $fontBody;
}

section:focus,
header:focus {
  outline: none;
}

.site-content-wrapper {
  padding-top: $mobileNavHeight;

  @include respond-to(medium-screen) {
    padding-top: $desktopNavHeight;
  }
}

h2 {
  margin: 0 0 $spacePx * 1.5;
  font: 700 px-to-rem(30) $fontDisplay;
  color: $colorPrimary;
  text-align: center;

  @include respond-to(small-screen) {
    font-size: px-to-rem(36);
  }

  @include respond-to(large-screen) {
    font-size: px-to-rem(44);
    margin: 0 0 $spacePx * 4;
  }

  @include respond-to(xlarge-screen) {
    font-size: px-to-rem(56);
  }
}

// INTRO SECTION
.Intro {
  padding-top: $spacePx * 1.5;
  padding-bottom: $spacePx * 3;

  .intro-img {
    display: block;
    width: 80%;
    max-width: 550px;
    margin: 0 auto;
    mix-blend-mode: multiply;
  }

  .intro-text-wrapper {
    text-align: center;
    padding: $spacePx * 5 0 0 0;
    margin: $spacePx * -12 0 0 0;
    background: linear-gradient(to bottom, rgba($colorPaper, 0) 0%,rgba($colorPaper, 1) 100%); 
    position: relative;

    @include respond-to(small-screen) {
      padding: $spacePx * 7 0 0 0;
      margin: $spacePx * -18 0 0 0;
    }

    .intro-text-icon {
      display: none;
    }

    h1 {
      color: $colorSecondary;
      .names {
        display: block;
        font: 700 px-to-rem(40) $fontDisplay;;
      }
      .tagline {
        display: block;
        font: 700 px-to-rem(24) $fontDisplay;
        margin-top: $spacePx * -.25
      }

      @include respond-to(small-screen) {
        .names {
          font-size: px-to-rem(48);
        }
        .tagline {
          font-size: px-to-rem(28);
        }
      }

      @include respond-to(large-screen) {
        .names {
          font-size: px-to-rem(60);
        }
        .tagline {
          font-size: px-to-rem(32);
        }
      }

      @include respond-to(xlarge-screen) {
        .names {
          font-size: px-to-rem(80);
        }
        .tagline {
          font-size: px-to-rem(40);
        }
      }
    }

    h3 {
      margin: $spacePx 0 0 0;
      font: 700 px-to-rem(24) $fontDisplay;
      color: $colorPrimary;

      @include respond-to(small-screen) {
        font-size: px-to-rem(28);
      }

      @include respond-to(large-screen) {
        font-size: px-to-rem(32);
        margin: $spacePx * 3 0 0 0;
      }

      @include respond-to(xlarge-screen) {
        font-size: px-to-rem(40);
      }
    }

    .location {
      margin: $spacePx * .5 0 0 0;
      font-size: px-to-rem(14);
      color: $colorPrimary;

      @include respond-to(small-screen) {
        font-size: px-to-rem(16);
      }
    }
  }

  @include respond-to(medium-screen) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;

    .intro-img {
      width: calc(50% - #{$spacePx * 3});
      max-width: none;
    }

    .intro-text-wrapper {
      width: 50%;
      margin: 0;
      padding: 0 0 $spacePx * 8;
      background: none;

      .intro-text-icon {
        display: block;
        width: 60px;
        margin: 0 auto $spacePx * .75;
      }
    }
  }

  @include respond-to(large-screen) {
    .intro-text-wrapper {
      .intro-text-icon {
        width: 80px;
        margin: 0 auto $spacePx * 2;
      }
    }
  }
}

// TIMELINE SECTION
.Timeline {
  background: $colorSecondaryFaint;
  background: rgba($colorSecondary, .15);
  padding-top: $spacePx * 2;
  padding-bottom: $spacePx * 2;
  position: relative;

  @include respond-to(medium-screen) {
    padding-top: $spacePx * 4;
    padding-bottom: $spacePx * 4;
    margin-top: $spacePx * -6;
  }

  @include respond-to(large-screen) {
    padding-top: $spacePx * 6;
    padding-bottom: $spacePx * 6;
  }

  .timeline-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: $spacePx * 3;

    &:after {
      content: "";
      display: block;
      width: 3px;
      background: $colorSecondaryLight;;
      height: 100%;
      position: absolute;
      left: calc(50% - 1px;);
      top: 0;
    }

    @include respond-to(large-screen) {
      margin-top: $spacePx * -3;
    }
  }

  .timeline-item {
    width: 325px;
    margin: 0 0 $spacePx * 3;
    position: relative;
    z-index: 1;

    @include respond-to(medium-screen) {
      display: flex;
      width: auto;
      align-items: center;

      &:nth-of-type(2n) {
        h3 {
          order: 3;
          text-align: left;
        }

        p {
          order: 1;
          text-align: right;
        }

        .timeline-icon-container {
          order: 2;
        }
      }
    }

    h3 {
      text-align: center;
      color: $colorSecondary;
      font: 700 px-to-rem(20) $fontDisplay;
      background: $colorSecondaryFaint;
      padding: $spacePx * .25;

      @include respond-to(small-screen) {
        font-size: px-to-rem(24);
      }

      @include respond-to(medium-screen) {
        width: 325px;
        text-align: right;
      }

      @include respond-to(large-screen) {
        font-size: px-to-rem(28);
      }

      @include respond-to(xlarge-screen) {
        font-size: px-to-rem(32);
      }
    }

    p {
      line-height: 1.5;
      background: $colorSecondaryFaint;
      padding: $spacePx * .25;

      @include respond-to(medium-screen) {
        width: 325px;
      }
    }

    &.decade {
      h3 {
        color: $colorPrimary;
      }

      .timeline-icon-container {
        border-color: $colorPrimaryLight;;
      }
    }
  }

  .timeline-icon-container {
    width: $spacePx * 6;
    height: $spacePx * 6;
    background: $colorPaper;
    box-sizing: content-box;
    border: 3px solid $colorSecondaryLight;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $spacePx auto;

    @include respond-to(medium-screen) {
      flex-shrink: 0;
      margin: 0 $spacePx * 1.5;
    }

    img {
      display: block;
      width: 70%;

      &.window {
        width: 55%;
      }
    }
  }
}

// PARTY SECTION
.Party {
  padding-top: $spacePx * 2;
  padding-bottom: $spacePx * 2;

  @include respond-to(medium-screen) {
    padding-top: $spacePx * 4;
    padding-bottom: $spacePx * 4;
  }

  @include respond-to(large-screen) {
    padding-top: $spacePx * 6;
    padding-bottom: $spacePx * 6;
  }

  .bride,
  .groom {
    max-width: 950px;

    @include respond-to(tiny-screen) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  .bride {
    margin: 0 auto $spacePx * 1.5;

    @include respond-to(large-screen) {
      margin-bottom: $spacePx * 3;
    }

    .member {
      img {
        border-color: $colorSecondaryLight;
      }
      h3 {
        color: $colorSecondary;
      }
    }
  }

  .groom {
    margin: 0 auto;

    .member {
      img {
        border-color: $colorPrimaryLight;
      }
      h3 {
        color: $colorPrimary;
      }
    }
  }

  .member {
    text-align: center;
    margin: 0 0 $spacePx * 1.5;

    @include respond-to(tiny-screen) {
      width: calc(50% - (#{$spacePx} * .75));
    }

    @include respond-to(medium-screen) {
      width: calc(25% - (#{$spacePx} * .75));
    }

    img {
      width: $spacePx * 8;
      height: $spacePx * 8;
      box-sizing: content-box;
      border: 3px solid $colorPaper;
      border-radius: 50%;
    }

    h3 {
      font: 700 px-to-rem(24) $fontDisplay;

      @include respond-to(small-screen) {
        font-size: px-to-rem(28);
      }

      @include respond-to(large-screen) {
        font-size: px-to-rem(32);
      }
    }

    &.honor {
      width: 100%;

      @include respond-to(large-screen) {
        margin-bottom: $spacePx * 2;
      }

      img {
        @include respond-to(large-screen) {
          width: $spacePx * 10;
          height: $spacePx * 10;
        }
      }
      h3 {
        @include respond-to(large-screen) {
          font-size: px-to-rem(40);
        }
      }
    }
  }
}

// Wedding Details section
.Wedding {
  background: $colorSecondaryFaint;
  background: rgba($colorSecondary, .15);
  padding-top: $spacePx * 2;
  padding-bottom: $spacePx * 2;

  @include respond-to(medium-screen) {
    padding-top: $spacePx * 4;
    padding-bottom: $spacePx * 4;
  }

  @include respond-to(large-screen) {
    padding-top: $spacePx * 6;
    padding-bottom: $spacePx * 6;
  }

  .max-width-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    h2 {
      width: 100%;
      color: $colorSecondary;
    }

    h3 {
      font: 700 px-to-rem(24) $fontDisplay;
      color: $colorSecondary;
      text-align: center;
      max-width: 550px;
      margin: $spacePx * 2 auto 0;

      @include respond-to(large-screen) {
        margin: $spacePx * 4 auto 0;
      }

      strong {
        color: $colorPrimary;
      }
    }

    .img-col {
      width: 100%;

      @include respond-to(medium-screen) {
        width: 50%;
      }

      img {
        width: 100%;
        height: auto;
        max-width: 650px;
        margin: 0 auto;
        position: relative;
        z-index: -1;
      }
    }

    .details-col {
      width: 100%;
      text-align: center;

      @include respond-to(medium-screen) {
        width: 50%;
      }
    }

    .details-col {
      h3 {
        font: 700 px-to-rem(24) $fontDisplay;
        color: $colorSecondary;
        text-align: center;
        margin: 0 auto;

        @include respond-to(small-screen) {
          font-size: px-to-rem(28);
        }

        @include respond-to(large-screen) {
          font-size: px-to-rem(32);
        }

        @include respond-to(xlarge-screen) {
          font-size: px-to-rem(40);
        }
      }

      h4 {
        font-size: px-to-rem(14);
        color: $colorSecondary;

        @include respond-to(small-screen) {
          font-size: px-to-rem(16);
        }
      }

      p {
        font-style: italic;
        margin: $spacePx * 1.5 0 $spacePx;

        a,
        a:visited {
          color: $colorFadedInk;
          text-decoration: underline;

          &:hover {
            color: $colorSecondary;
          }
        }
      }
    }
  }
}

// Accommodations Section
.Accommodations {
  padding-top: $spacePx * 2;
  padding-bottom: $spacePx * 2;

  @include respond-to(medium-screen) {
    padding-top: $spacePx * 4;
    padding-bottom: $spacePx * 4;
  }

  @include respond-to(large-screen) {
    padding-top: $spacePx * 6;
    padding-bottom: $spacePx * 6;
  }

  .details-col {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  h3 {
    font: 700 px-to-rem(24) $fontDisplay;
    color: $colorPrimary;

    @include respond-to(small-screen) {
      font-size: px-to-rem(28);
    }

    @include respond-to(large-screen) {
      font-size: px-to-rem(32);
    }

    @include respond-to(xlarge-screen) {
      font-size: px-to-rem(40);
    }
  }

  h4 {
    font-size: px-to-rem(14);
    color: $colorPrimary;

    @include respond-to(small-screen) {
      font-size: px-to-rem(16);
    }
  }

  h5 {
    font-size: px-to-rem(10);
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-bottom: $spacePx * .5;
  }

  p {
    font-style: italic;
    margin: 0 auto;
    max-width: 350px;

    strong {
      font-weight: bold;
      color: $colorSecondary;
    }

    a,
    a:visited {
      color: $colorFadedInk;
      text-decoration: underline;

      &:hover {
        color: $colorPrimary;
      }
    }
  }

  .hotel {
    margin: $spacePx * 1.5 0;
  }

  .instructions {
    background: $colorPrimaryFaint;
    border: 1px solid rgba($colorPrimary, .3);
    padding: $spacePx * 1.5;
    margin-top: $spacePx * 1.5;

    p strong {
      color: $colorPrimary;
    }

    @include respond-to(medium-screen) {
      display: flex;

      .instructions-one {
        width: 50%;
        margin: 0 $spacePx * .75 0 0;
      }

      .instructions-two {
        width: 50%;
        margin: 0 0 0 $spacePx * .75;
      }
    }
  }

  .instructions-one {
    margin-bottom: $spacePx * 1.5;
  }
}
