<nav class="Nav">
  <div class="max-width-container nav-inner-wrapper">
    <a href="#intro-section" class="logo-link">Concetta &amp; Brian</a>
    <div class="primary-nav-container">
      <label for="show-menu-input" class="show-menu-btn">Menu</label>
      <input type="checkbox" id="show-menu-input" class="show-menu-input" role="button" />
      <ul id="menu" class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#timeline-section">Decade to Dwyer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#party-section">Bridal Party</a>
        </li>
        <li class="nav-item coming-soon">
          More Coming Soon!
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" href="#wedding-section">Wedding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#accommodations-section">Accommodations</a>
        </li>-->
      </ul>
    </div>
  </div>
</nav>
