---
title: Decade to Dwyer
---

<div class="splash">
  <div class="splashImageContainer">
    <%= image_tag "engagement.jpg", :class => "splashImage" %>
  </div>
  <div class="splashTextContainer">
    <div class="maxWidth">
      <div class="splashTextContent">
        <h1>Concetta &amp; Brian</h1>
        <h2>are getting married</h2>
        <h3>May 19, 2018<br/>Broad Brook, CT</h3>
        <p>Please check back here soon for details regarding accommodations, directions, and more.</p>
      </div>
    </div>
  </div>
</div>
